@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-color: #b9b6b6;
    font-family: 'Montserrat', sans-serif;
}
.movies{
    display: flex;
    justify-content: center;
    width: 75vw;
    height: 10vw;
    background-color: #FECC00;
    margin: 20px auto;
    padding: 3vw;
    border-radius: 20px;
}
#searchInput {
    width: 60%;
    height: 7vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 0 0 0 20px;
    margin-top: 1vw;
}
.btn{
    width: 10%;
    height: 7vw;
    margin-top: 1vw;
    border: none;
    border-radius: 0 10px 10px 0;    
}
.search{
    width: 4vw;
}
.films{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75vw;
    min-height: 20vw;
    background-color: #FECC00;
    margin: 20px auto;
    padding: 3vw;
    border-radius: 15px;
}
.films article{
    text-align: center;
    background-color: #ECECEC;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.films article img{
    width: 75%;
    border-radius: 20px;
}
.films article button{
    width: 75%;
    border-radius: 10px;
    background-color: #b9b6b6;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.films_details{
    display: flex;
    background-color: #FECC00;
    border-radius: 20px;
    margin: 2vw;
    padding: 2vw;
    font-size: 2vw;
}
.poster{
    width: 40vw;
    border-radius: 10px;
    margin: 3vw;
}
